<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Person</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .hidedata{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container w-50 p-2">
        <div class="alert alert-primary hidedata"> </div>
        <h1>Add Customer</h1>
        <form id="form" method="POST">

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone Number</label>
              <input type="text" class="form-control" required id="exampleInputEmail1" name="phonenumber" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Members</label>
              <input type="number" class="form-control" step="" min="0" required id="exampleInputPassword1" name="members">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Visiting Date</label>
                <input type="datetime-local" class="form-control" required id="exampleInputPassword1" name="visiting">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Exiting Date</label>
                <input type="datetime-local" class="form-control" required id="exampleInputPassword1" name="exitdate">
            </div>
            <button type="submit" class="btn btn-secondary" >Add Customer</button>
          </form>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function addData(){
            var form = document.getElementById("form");
            form.onsubmit= async(e)=>{
                e.preventDefault();
                var phoneNumberRegex= /^[+ 0]\d{8,}$/
                var formData = new FormData(form);
                var exitdata=new Date(formData.get("exitdate"));
                var error= document.querySelector(".hidedata");
                var visting = new Date(formData.get("visiting"));
                if(phoneNumberRegex.test(String(formData.get("phonenumber")))){
                    if(visting<=exitdata){
                        const data={
                            phonenumber:formData.get("phonenumber"),
                            members:formData.get("members"),
                            visiting:formData.get("visiting"),
                            exitdate:formData.get("exitdate")
                        }
                        var response = await axios.post("/resort",data);
                        console.log(response.data)
                        if(response.data.length>0){
                            // history.pushState(data,"List Customer","/listmember");
                            window.location.pathname="/listmember";
                        }else{
                            error.style.display="block";
                            error.innerHTML= "Can't create Customer"; 
                        }
                    }else{
                        error.style.display="block";
                        error.innerHTML= "Visit should be smaller than or equal exitdate"; 
                    }
                    
                }else{
                   error.style.display="block";
                   error.innerHTML= "Phone Number is not right"; 
                }
                setTimeout(()=>{
                       error.innerHTML="";
                       error.style.display="none"
                },2000
                )
                
            }
        }
        addData();
    </script>
</body>
</html>