<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Member</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <div class="container p-2">
        <h1>List Customer</h1>
        <!-- phone number, members, and datetime of visiting and exiting the resort -->
        <table class="table table-dark table-striped">
            <thead>
                <th>Phone Number</th>
                <th>Members</th>
                <th>Visiting Date</th>
                <th>Exit Date</th>
            </thead>
            <tbody id="customer">
                <tr class="table-active">
                    
                </tr>
                    
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function listCustomer(){
            var customer = document.getElementById("customer");
            var response = await axios.get("/resort");
            var tr = document.createElement("tr");
            console.log(response.data);
            for (const data of response.data) {
                var {id,phonenumber,members,visiting,exitdate}=data
                console.log(data)
                var tf =  document.createElement("td")
                var tdId = document.createElement("td"),
                tdPhoneNumber = document.createElement("td"),
                tdMembers = document.createElement("td"),
                tdVisiting = document.createElement("td"),
                tdExitDate =document.createElement("td");
                tdPhoneNumber.innerHTML=data.phonenumber
                tdMembers.innerHTML =data.members
                var visitDate = new Date(data.visiting);
                var exitDate = new Date(data.exitDate);
                tdVisiting.innerHTML=visitDate.toLocaleDateString()+" "+visitDate.getHours()+":"+visitDate.getMinutes();
                tdExitDate.innerHTML= exitDate.toLocaleDateString()+" "+exitDate.getHours()+":"+exitDate.getMinutes()
                tr.appendChild(tdPhoneNumber);
                tr.appendChild(tdMembers);
                tr.appendChild(tdVisiting);
                tr.appendChild(tdExitDate);
                customer.appendChild(tr);
            }
        }
        listCustomer();
    </script>
</body>
</html>